body, main {
  height: 100%;
}

main {
    background-image: url(https://mdbootstrap.com/img/new/fluid/city/018.jpg);
    height: 100vh;   
}

.mask {
  padding-top: 58px;
}

@media (min-width: 992px) {
  .mask {
    padding-top: 121.27px;
  }
}

.card {
  min-width: 272px;
  max-width: 272px;
  height: auto;
  background-color: #ebecf0;
}
.shadow-2 {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1) !important;
}
.sortable-item {
  cursor: grab;
  transition: background-color 0.2s ease-in !important;
}
.sortable-item:hover {
  background-color: rgba(0, 0, 0, 0.01) !important;
}